%h1= "Profile for #{@user.username}"
//%p Find me in app/views/users/edit.html.haml
//Create form to capture remaining user attributes and then send to update and in update update attributes and then go to dashboard and 
//in dashboard add an edit profile link

