// %h2 PollUpBing
// %p PollupBing is a webpage that shows all the events which are about to take place in Binghamton University. Users can register for events and participate in the poll questions and can ask questions regarding events. Results of the poll questions are posted when a user makes a choice.

// %form
//     %p Sign In
//     = label :user, :email, "Email"
//     = text_field :user, :email
//     = label :user, :password, "Password"
//     = password_field :user, :password
//     %input{:type => "submit", :value => "Sign in"}

// %p Not registered yet?
// %input{:type => "submit", :value => "Sign up"}
// = link_to "Forgot your password?", "sign_up_path"

%h1 Dashboard
= link_to 'Cleanup', cleanup_path