//%h1 Welcome login
//%div 
//= link_to 'Register or Log In with Github', '/auth/github'
//%div
//= link_to 'Register or Log In with Facebook', '/auth/facebook'

.h2 PollUpBing
.p PollupBing is a webpage that shows all the events which are about to take place in Binghamton University. Users can register for events and participate in the poll questions and can ask questions regarding events. Results of the poll questions are posted when a user makes a choice.


//%link{ :rel => "stylesheet" , :href => "/stylesheets/welcome.scss" }
%body.image
%form 
%div 

     = link_to 'Register or Log In with Github', '/auth/github'



